window.background,
window.background .notification-inhibit-activity {
  background: transparent;
  padding: 0;
  margin: 0;
}

.notification-content .widget-notfication {
  background: transparent;
}

.notification-row {
  background: transparent;
  padding: 0;
  margin: 0;
}

.notification-row .notification {
  margin: -8px -12px 0px 0px;
  background: rgba(30, 30, 38, 1);
  border-radius: 0px 0px 0px 15px;
  border: 0px solid rgba(255, 255, 255, 0.1);
  padding: 12px;
}

.control-center {
  margin: 0px 0px 200px 0px;
  background: rgba(30, 30, 38, 1);
  border-radius: 0px 0px 0px 15px;
  border: 0px solid rgba(255, 255, 255, 0.1);
}

.control-center .notification-row .notification {
  background: transparent;
  background-color: transparent;
  border: none;
  box-shadow: none;
  margin: 0px 0;
}

.control-center .notification-group,
.control-center .notification-group-headers,
.control-center .notification-group-children {
  background: transparent;
  background-color: transparent;
  border: none;
  box-shadow: none;
}